/* ---- Fonts  ----*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

@font-face
{
  font-family: "Branding-black";
  src:url('./font/Branding-Black.otf');
  font-style:800;
}
@font-face
{
  font-family: "Branding-bold";
  src:url('./font/Branding-SemiBold.otf');
  font-style:600;
}
@font-face
{
  font-family: "Branding";
  src:url('./font/Branding\ SF\ Medium.otf');
  font-style:500;
}


/* ---- General ----*/

html, body {
  overflow: auto;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  width: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, li, ul, a, p, img{
  margin: 0px;
  padding: 0px;
}


/* ---- Header ----*/

.imgHeader{
  width: 100%;
  position: relative;
  display: block;
}

.titre{
  background-color: #7030A0;
  width: 100%;
  display: block;
  position: relative;
}

.titre h1{
  color: #FFF;
  font-family: "Branding-bold";
  font-weight: 600;
  font-size: 27.8px;
  padding: 30px 18px 30px 18px;
  text-align: center;
  position: relative;
  line-height: 30px;
}


.titre h2{
  color: #FFF;
  font-family: "Branding";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

/* ---- Content ----*/

.content{
  margin: 20px;
}

h2{
  color: #9D45DB;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
}

h3{
  color: #000;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
}

h5{
  color: #000087;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  margin-bottom: 15px;
}

ul{
  margin-bottom: 10px;
}

ul li{
  list-style-image: url('./img/point-liste_bis.svg');
  list-style-position: outside;
  padding-left: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.intro{
  margin-bottom:30px;
}

.sommaire{
  margin-bottom:50px;
}

.li-sommaire{
  padding-left: 5px;
  margin-left: 10px;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 16px;
  margin-bottom:10px;
  color:#301D5E;
}

.content img, .content object{
  width: 100%;
  position: relative;
  display: block;
  margin: 30px 0 30px;
}

.picto{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  align-items: self-start;

}

.picto object{
  width: 60px;
  height: 60px;
  margin: 0 10px 0 -3px;
}

.picto p{
  margin-bottom: 0;
}

.picto em{
  display: block;
  margin-top: 10px;
}

.picto li{
  margin: 10px 0 0px 0;
  list-style-image: url('./img/fleche.svg');
}

.etape {
  margin-left: 20px;
  margin-bottom: 30px;
  border-left: 2px dotted #54409D;
}

.etape li {
  list-style-image: url('./img/point-liste.svg');
}

.formation{
	background-color: #f4f2fc;
	padding: 15px;
	margin: 10px -10px 10px -10px;
	border-radius: 5px;
}

.formation p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #301D5E;
  position: relative;
  margin:0px;
}

.numero-formation{
  color: #FFF;
  font-family: "Branding";
  font-weight: 500;
  font-size: 18px;
  background-color:#301D5E;
  padding: 5px 12px;
  display: inline;
  margin-left: 20px;
  position: relative;
  top: -18px;
}

.pense-bete {
  position: relative;
  color: white;
}

.pense-bete-text{
    position: absolute;
    text-align: left;
    padding: 30px 15px;
    font-size: 14px;
    top: 8px;
    left: 16px;
}

.video-aide{
  display:block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* ---- Slick slider ----*/

.animcontainer{
  margin: 50px 0;
}

.titre-slider{
  color: #fff;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  padding: 10px;
  background-color: #FFBC33;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.image-slider{
  margin: 0 !important;
}



/*accordeon */
.accordion {
  font-family: "Branding-bold";
  background-color: #9D45DB;/*#54409D;*/
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  border: 2px solid #9D45DB;/*#54409D;*/
  margin: 30px 0 0 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  padding: 10px;
  box-shadow:2px 2px 2px gray,-1px -1px 2px white;

}

.active, .accordion:hover {
  background-color: #9D45DB;
  opacity: 0.6;

}

/* Accordion panel*/
.panel {
  padding:  18px;
  background-color: rgba(237, 221, 249, .2); /*#EDDDF9; */
  display: none;
  overflow: hidden;
  border: 2px solid  #9D45DB;
  border-radius: 5px;
}

/* ---- Bon à savvoir ----*/

.savoir{
  background-color: #FFFF;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 50px 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.savoir object{
  position: absolute;
  width: 80px;
  top: 0;
  right: 0;
  margin: -40px 10px 0 0;
}

.savoir h3{
  color: #54409D;
}


