/* ---- Fonts  ----*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");

@font-face {
  font-family: "Branding-black";
  src: url("./font/Branding-Black.otf");
  font-style: 800;
}
@font-face {
  font-family: "Branding-bold";
  src: url("./font/Branding-SemiBold.otf");
  font-style: 600;
}
@font-face {
  font-family: "Branding";
  src: url("./font/Branding\ SF\ Medium.otf");
  font-style: 500;
}

/* ---- General ----*/

html,
body {
  overflow: auto;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  width: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
li,
ul,
a,
p,
img {
  margin: 0px;
  padding: 0px;
}

/* ---- Header ----*/

.imgHeader {
  width: 100%;
  position: relative;
  display: block;
}

.titre {
  background-color: #803BFF;
  width: 100%;
  display: block;
  position: relative;
}

.titre h1 {
  color: #fff;
  font-family: "Branding-bold";
  font-weight: 600;
  font-size: 27.8px;
  padding: 30px 18px 30px 18px;
  text-align: center;
  position: relative;
  line-height: 30px;
}

.titre h2 {
  color: #fff;
  font-family: "Branding";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

/* ---- Content ----*/

.content {
  margin: 20px;
}

h2 {
  color: #9d45db;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
}

h3 {
  color: #000;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
}

h5 {
  color: #000087;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000;
  margin-bottom: 15px;
}

ul {
  margin-bottom: 10px;
}

ul li {
  list-style-image: url("./img/point-liste_bis.svg");
  list-style-position: outside;
  padding-left: 5px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.intro {
  margin-bottom: 30px;
}

.sommaire {
  margin-bottom: 50px;
}

.li-sommaire {
  padding-left: 5px;
  margin-left: 10px;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
  color: #301d5e;
}

.li-li-sommaire {
  list-style-image: url("./img/point-liste_bis.svg");
  /*list-style-position: outside;*/
  padding-left: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.content img,
.content object {
  width: 100%;
  position: relative;
  display: block;
  margin: 30px 0 30px;
}

.picto {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
  align-items: center;
}

.picto object {
  width: 120px;
  height: 120px;
  margin: 0 10px 0 -3px;
}

.picto p {
  margin-bottom: 0;
}

.picto em {
  display: block;
  margin-top: 10px;
}

.picto li {
  margin: 10px 0 0px 0;
  list-style-image: url("./img/fleche.svg");
}

.etape {
  margin-left: 20px;
  margin-bottom: 30px;
  border-left: 2px dotted #54409d;
}

.etape li {
  list-style-image: url("./img/point-liste.svg");
}

.formation {
  background-color: #f4f2fc;
  padding: 15px;
  margin: 10px -10px 10px -10px;
  border-radius: 5px;
}

.formation p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #301d5e;
  position: relative;
  margin: 0px;
}

.numero-formation {
  color: #fff;
  font-family: "Branding";
  font-weight: 500;
  font-size: 18px;
  background-color: #301d5e;
  padding: 5px 12px;
  display: inline;
  margin-left: 20px;
  position: absolute;
  top: -18px;
}

/* ---- Slick slider ----*/

.animcontainer {
  margin: 50px 0;
}

.titre-slider {
  color: #fff;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  padding: 10px;
  background-color: #ffbc33;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.image-slider {
  margin: 0 !important;
}

.pense-bete {
  position: relative;
  color: white;
}

.pense-bete-text {
  position: absolute;
  text-align: left;
  padding: 30px 15px;
  font-size: 14px;
  top: 8px;
  left: 16px;
}

.video-aide {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*Table*/
table {
  width: 100%;
  background-color: #fffdeb;
  border-radius: 5px;
  overflow: hidden;
  border-spacing: 0;
  margin-top: 50px;
}

td {
  width: 50%;
  padding: 20px;
  text-align: center;
  border-left: 2px solid #fff;
  border-bottom: 1.5px solid #fff;
}

.td-left {
  width: 50%;
  padding: 10px;
  text-align: center;
  border-left: 2px solid #fff;
  border-bottom: 1.5px solid #fff;
  background-color: rgb(221, 68, 94, 0.2);
}

.td-right {
  width: 50%;
  padding: 10px;
  text-align: center;
  border-left: 2px solid #fff;
  border-bottom: 1.5px solid #fff;
  background-color: rgb(157, 69, 219, 0.2);
}

.entete {
  color: #fff;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  background-color: #9d45db;
  text-align: center;
  border-bottom: none;
}
.last-row td {
  border-bottom: none;
}

/*accordeon */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  font-family: "Branding-bold";
  background-color: #9d45db; /*#54409D;*/
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
  border: 2px solid #9d45db; /*#54409D;*/
  margin: 30px 0 0 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  padding: 10px;
  box-shadow: 2px 2px 2px gray, -1px -1px 2px white;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #9d45db;
  opacity: 0.6;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 18px;
  background-color: rgba(237, 221, 249, 0.2); /*#EDDDF9; */
  display: none;
  overflow: hidden;
  border: 2px solid #9d45db;
  border-radius: 5px;
}

/* ---- Bon à savvoir ----*/

.savoir {
  background-color: #ffff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 50px 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.savoir object {
  position: absolute;
  width: 80px;
  top: 0;
  right: 0;
  margin: -40px 10px 0 0;
}

.savoir h3 {
  color: #54409d;
}

/* ---- Slick slider ----*/

.animcontainer {
  margin: 50px 0;
}

.titre-slider {
  color: #fff;
  font-family: "Branding-bold";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  padding: 10px;
  background-color: #9d45db;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.image-slider {
  margin: 0 !important;
}
